.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  padding: 15px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 0.8s linear;
  }
}


.App-header {
  background-color: #191c21;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background-color: #191c21;
}

.App-Title {
  color: #ffffff;
  font-family: Courier;
  font-size: 60px;
}

@media (prefers-color-scheme: light) {
  .App-header {
    background-color: #fffbf6;
  }
  body {
    background-color: #fffbf6;
  }
  .App-Title {
    color: #191c21;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.github-icon {
  /* position: fixed; */
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 0.5rem;
  /* transform: translateX(-50%); */
  z-index: 1000; 
}

.github-icon img {
  width: 1.5em; /* Adjust the size as needed */
  height: 1.5em;
  padding-bottom: 0.1em;
}


