body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

textarea {
  width: 50vw; /* Use a percentage for dynamic width */
  height: 5vh; /* Use a percentage of viewport height for dynamic height */
  border: none;
  background: #1e2b53;
  color: #fff;
  font-size: 20px;
  padding: 2rem;
  resize: none;
  border-radius: 5px;
  border: 2px solid white; /* Adding a white solid border */
}

.searchButton {
  background: #9c5419;
  color: #fff;
  font-size: 20px;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem;
  font-family: 'Courier New';
  font-weight: bold;
}

.searchButton:hover {
  background: #c9732c;
}

.plotly-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Adjust the z-index as needed */
  border: 2px solid white; /* Adding a white solid border */
}

.moreLikeThisButton {
  background: #9c5419;
  color: #fff;
  /* padding: 1rem; */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-top: 1.5rem;
  font-family: 'Courier New';
  font-weight: 600;
  /* font-size: 17px; */
  font-size: 70%
}

.moreLikeThisButton:hover {
  background: #c9732c;
}

.graphSwitchContainer {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}



select {
  background: #1e2b53;
  color: #fff;
  font-size: 20px;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  border: 2px solid white; /* Adding a white solid border */
}


.accordion {
  width: 80%;
  max-width: 2000px;
  margin: 2rem auto;
  padding-bottom: 20px;
}

.accordion-title {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #184276;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 1rem;

}

.accordion-title:hover {
  background-color: #45648a;
}

.accordion-content {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1rem 1rem;
}

.accordion-content {
  background-color: #162246;
  
}

@media screen and (max-width: 80%) {
  body {
    font-size: 12px;
  }

  .accordion {
    width: 90%;
  }
}


